#contact-page {
  margin: 0 auto;
  display: block;
  background: #fff;
  position: relative;
  z-index: 1;

  @media(min-width: 900px) {
    border: 30px solid #000;
    border-bottom-width: 0;
  }

  .col-sm-6 {
    padding: 0;
  }
}
