.navbar-default {
  background-color: #e44389;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  border-width: 0;
  z-index: 100;
  border-radius: 0;
  opacity: .9;
  @media (max-width: 768px) {
    padding: 0 15px 0 15px;
  }

  .navbar-header .navbar-brand {
    color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 0;
    &:hover, &:focus {
      color: #fff;
    }
  }


  .navbar-toggle {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    margin: 0 10px 0 0;
    border-color: transparent;
  }


  .nav > li > a,
  .nav > li > a:focus {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #fff;
    @media (max-width: 768px) {
      text-align: right;
    }
  }

  .nav > li > a:hover,
  .nav > li > a:focus:hover {
    color: #fff;
  }

  .nav > li.active > a,
  .nav > li.active > a:focus {
    color: #fff !important;
    background-color: transparent;
  }

  .nav > li.active > a:hover,
  .nav > li.active > a:focus:hover {
    background-color: transparent;
  }
}
