.navbar-default {
  background-color: #000;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  border-width: 0;
  border-bottom: 1px solid #000;
  z-index: 100;
  border-radius: 0;
  opacity: .9;


  @media (max-width: 768px) {
    padding: 0 15px 0 15px;
  }

  .navbar-header .navbar-brand {
    color: #e44389;
    color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    margin-left: 0;
    font-size: 18px;
    letter-spacing: 1.5px;
    transition: ease 0.2s all;

    &:hover, &:focus {
      color: #e44389;
    }
  }

  .navbar-toggle {
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    margin: 0 10px 0 0;
    border-color: transparent;

    &:hover, &:focus {
      background-color: transparent !important;
    }
  }

  .nav > li > a,
  .nav > li > a:focus {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1.5px;

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  .nav > li > a:hover,
  .nav > li > a:focus:hover {
    transition: ease 0.2s all;
    color: #e44389;
  }

  .nav > li.active > a,
  .nav > li.active > a:focus {
    color: #fff !important;
    background-color: transparent;
  }

  .nav > li.active > a:hover,
  .nav > li.active > a:focus:hover {
    background-color: transparent;
  }
}
