#picture-block {
  height: 350px;
  width: 350px;
  cursor: pointer;
  text-align: center;
  margin: 50px;
  padding: 0px;
  border-radius: 50%;
  background: white;

  @media (max-width: 889px) {
    // on tablet and mobile
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: auto;
  }
}
