.btn-default {
  background-color: #000;
  color: #fff;
  border-color: #000;
  transition: all ease 0.1s;

  &:hover, &:active, &:active:hover, &:focus, &:active:focus  {
    background-color: #e44389;
    color: #fff;
    border-color: #e44389;
    outline: none;
  }
}
