.progress {
  height: 30px;
  border-radius: 2px;
  box-shadow: none;
  margin-bottom: 10px;
  background-color: transparent;

  .progress-bar {
    background: linear-gradient(to left, #BFF475, #f9fff0);
    box-shadow: none;
  }
}
