
.progress {
  height: 30px;
  border-radius: 2px;
  box-shadow: none;
  margin-bottom: 10px;
  background-color: transparent;

  .progress-bar {
    background-color: #BFF475;
    box-shadow: none;
  }
}
