#progress-bar {

  .progress {
    height: 30px;
    border-radius: 2px;
    box-shadow: none;
    background-color: transparent;
    margin: 15px 0;
  }

  .progress-bar {
    background: linear-gradient(to left, #fff, #000);
    box-shadow: none;
  }
}
