#home-title {
  background: transparent;
  height: 350px;

  .container-fluid {
    text-align: center;
    padding: 0;
    color: white;
    opacity: .9;

    h1 {
      position: relative;
      width: 100%;
      top: 50px;
      text-transform: uppercase;
    }

    .col-sm-4 {
      position: relative;
      top: 100px;
    }

    p {
      font-family: 'Handlee', cursive;
      font-size: 24px;
    }
  }
}

#home-about {
  background: #EB71A6;
  padding: 30px;

  .container-fluid {
    color: white;
    text-align: center;

    img {
      width: 200px;
      height: 200px;
      margin: auto auto;
      margin-bottom: 5px;
    }

    p {
      margin-top: 10px;
      text-align: left;
      line-height: 1.3;
      font-size: 18px;

      &:first-letter {
        font-family: cursive;
        font-size: 22px;
      }
    }
  }
}
