/* Header styling */
#header {
  canvas {
    position: absolute;
    background: #000;
    z-index: 0;
  }

  .container-fluid {
    margin: auto auto;
    text-align: center;
  }

  .title, .jumbotron {
    margin-bottom: 0;
  }

  a, p, span {
    color: #fff
  }

  .btn-group {
    justify-content: center;
    display: flex;

    .brand-name {
      padding: 0;
      margin: 0;
    }
  }

  #logo {
    width: 200px;
    height: 200px;
    margin-top: 25px;
    // border: 5px solid #;

    @media (max-width: 736px) {
      text-align: center;
      margin-right: 0;
    }
  }

  .jumbotron {
    background: transparent;
    position: relative;
    padding: 65px 20px 20px 20px;
    border-radius: 0;

    @media (max-width: 400px) {
      padding-bottom: 10px;
    }
  }

  .title {
    color: #fff;
    text-align: center;

    @media (max-width: 736px) {
      text-align: center;
    }
  }

  .subtitle {
   color: #fff;
   font-size: 25px;
   margin-top: 20px;
   margin-bottom: 20px;
   letter-spacing: 2px;

   a {
     transition: all ease 0.1s;
     text-decoration: none;
     color: #fff;
     outline: none;
     margin: 0;

     &:hover {
       color: #e44389;
       background: transparent;
     }
   }

   @media (max-width: 736px) {
     font-size: 14px;
     margin-top: 10px;
     margin-bottom: 10px;
   }
 }

 .btn-text {
   font-size: 18px;

   @media (max-width: 736px) {
     font-size: 12px;
    }
  }

  p {
    margin-bottom: 0;
  }

  @media (max-width: 400px) {

  .btn-group {
      display: inline-block;

      a {
        width: 100%;
        margin: 5px auto;
      }
    }
  }
}
