/* Header styling */

#header {
  padding-top: 50px;

  .title, .jumbotron {
    margin-bottom: 0;
  }

  a, p, span {
    color: #fff
  }

  #logo {
    width: 140px;
    height: 140px;
    margin-right: 100%;
    @media (max-width: 768px) {
      text-align: center;
      margin-right: 0;
    }
  }

  .jumbotron {
    padding: 20px;
    border-radius: 0;
  }

  .title {
    color: #fff;
    text-align: right;
    @media (max-width: 768px) {
      text-align: center;
    }
  }

  .subtitle {
   color: darkgrey;
   font-size: 25px;
   margin-top: 0;
   margin-bottom: 20px;
   padding-bottom: 5px;
   border-bottom: 1px lightgrey solid;
   text-align: right;
   @media (max-width: 768px) {
     text-align: center;
     margin-top: 10px;
     margin-bottom: 10px;
   }
 }

a {
   text-decoration: underline;
   &:hover {
     color: #fff;
     text-decoration: underline;
    }
  }

  p {

    margin-bottom: 0;
  }
}
