#pokemon {
  display: block;
  margin: auto auto;
  width: 140px;
  height: 150px;
  right: 0;
  left: 0;
  bottom: 25%;
  position: absolute;

  @media (max-width: 500px) {
    bottom: 23%;
  }

  @media (min-width: 500px) {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
