<template name="featured_work">
  <div id="featured-work">
    <div class="container">
      <div class="page-header">
        <h1>Featured Work</h1>
      </div>
      <div class="col-md-4">
        <a class="text-center" href="http://pixmi.me" target="_blank">
          <img src="https://res.cloudinary.com/pixmi/image/upload/v1469061245/walvrepj7lydhceczh9b.jpg" class="img-responsive img-rounded" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">
          <h2 class="img-title">Pixmi</h2>
          <p class="description">Photo sharing app</p>
        </a>
      </div>
      <div class="col-md-4">
        <a class="text-center" href="http://prime-calculate.lekosfmi.com/" target="_blank">
          <img src="https://res.cloudinary.com/pixmi/image/upload/v1469059410/oran3hxt0pglkxixjffj.jpg" class="img-responsive img-rounded" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">
          <h2 class="img-title">Prime Calculate</h2>
          <p class="description">Determine whether a number is prime or composite</p>
        </a>
      </div>
      <div class="col-md-4">
        <a class="text-center" href="http://chat.lekosfmi.com/" target="_blank">
          <img src="https://res.cloudinary.com/pixmi/image/upload/v1469060125/k6eassbshaxogurnyji9.jpg" class="img-responsive img-rounded" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">
          <h2 class="img-title">Chat App</h2>
          <p class="description">Small chat app inspired by Slack</p>
        </a>
      </div>
    </div><!-- /container -->
  </div>
</template>
