#skill-progress {
  background: #000;

  @media(min-width: 900px) {
    padding: 30px 90px;
    border: 30px solid #000;
    border-top-width: 0;
    border-bottom: 1px solid #fff;

    .col-lg-12 {
      padding: 0;
      margin: 20px 0;
    }
  }

  @media (max-width: 768px) {
    .col-lg-6 .container-fluid {
      padding: 0 15px;
    }
  }

  #page-header {
    margin: 20px auto;

    h1 {
      color: #fff;
      letter-spacing: 5px;
      margin-top: 10px;
    }

    @media (max-width: 1500px) {
      margin: 20px 15px;
    }

    @media (max-width: 768px) {
      margin: 20px 0;
      padding: 0;
    }
  }

  .container-fluid {
    padding: 0 0;

    @media (max-width: 1500px) {
      padding: 0 15px;
    }

    @media (max-width: 768px) {
      padding: 0;
    }
  }

  .col-lg-6 {
    padding: 0;
  }

  h5 {
    text-align: left;
    position: absolute;
    color: #fff;
    left: 25px;
    letter-spacing: 5px;
  }

  span {
    color: #000;
  }
}
