/* Email List styling */

#email-list {
  overflow: hidden;
  background: transparent;
  margin: 15px;
  margin-bottom: 0;

  @media (max-width: 736px) {
    margin: 0;
  }

  .page-header {
    padding: 15px;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 10;
    position: relative;
    background: #fff;
    opacity: 0.9;
    border-radius: 20px;

    @media (max-width: 736px) {
      border-radius: 0;
    }

    h3 {
      margin-top: 0;
      line-height: 35px;
      font-weight: 400;
      // font-size: 20px;
    }

    p {
      color: #000;
    }

    small {
      margin-top: 10px;
      font-size: 16px;
    }

    .input-group {
      padding: 1em 5em 0 10em;

      @media (max-width: 736px) {
        padding: 0;
        margin-top: 15px;
      }

      input {
        text-align: center;

        @media (max-width: 736px) {
          font-size: 14px;
        }

        &::placeholder {
          @media (max-width: 736px) {
            font-size: 14px;
          }
        }

        &:focus {
          index-z: 1;
        }
      }

      .input-group-btn {

        button {
          border-radius: 50%;
          width: 40px;
          height: 40px;
          left: 0px;
          top: 2px;
          index-z: 5;

          @media (max-width: 736px) {
            margin-right: 0px !important;
          }

          margin: 0px 0px 0px 10px;

          span {
            right: 2px;

            @media (max-width: 736px) {
              right: 0;
            }
          }
        }
      }
    }
  }
}
