/* Footer styling */

footer {
  /* margin-top: 30px; */
  padding: 15px;
  color: #fff;
  font-weight: bold;

  .container-fluid {
    margin: 10px 0;
  }

  p {
    margin-bottom: 0;
    margin: 15px;
  }

  .design {
    text-align: right;
  }

  .glyphicon-heart {
    color: #e44389;
  }

  @media (max-width: 768px) {
    margin-top: 0;

    p, .design {
      text-align: center;
    }
  }
}
