/* Footer styling */

footer {
  /* margin-top: 30px; */
  padding: 15px;
  background: #000;
  font-weight: bold;
  position: relative;

  .container-fluid {
    margin: 10px 0;
  }

  .glyphicon-heart {
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
  }

  p {
    margin-bottom: 0;
    margin: 5px;
    transition: all 0.1s ease;
    cursor: default;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
    color: #fff;

    &:hover > .glyphicon-heart {
      color: #e44389;
    }
  }

  .design {
    text-align: center;
  }

  @media (max-width: 768px) {
    margin-top: 0;

    p, .design {
      font-size: 12px;
      text-align: center;
    }
  }
}
